colorclass
colorlog

bitmath

dbus-python;os_name!="nt"

python-magic;os_name!="nt"

bjoern
tornado

Js2Py

Beaker>=1.6
bottle>=0.10
cryptography
semver

autoupgrade-ng
daemonize
pycurl
Babel
Send2Trash
filetype
googletrans
idna
portalocker
psutil
setproctitle
tld
validators
requests>=1.2.2

configparser;python_version<"3.5"
future

mod_pywebsocket
setuptools
thrift

eventlet
